{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11274467407"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11274467407');
</script>

  <!-- COMMON TAGS -->
  <meta charset="utf-8">
  <title>TestSync Global | Leading Your Software To Success Through Quality</title>
  <!-- Search Engine -->
  <meta name="description"
    content="TestSync Global we offer comprehensive solutions to meet all of your software testing and quality assurance needs in a single destination">
  <meta name="image" content="{% static ' /assets/images/icon.png' %}">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="TestSync Global | Leading Your Software To Success Through Quality">
  <meta itemprop="description"
    content="TestSync Global we offer comprehensive solutions to meet all of your software testing and quality assurance needs in a single destination">
  <meta itemprop="image" content="{% static ' /assets/images/icon.png' %}">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="TestSync Global | Leading Your Software To Success Through Quality">
  <meta name="twitter:description"
    content="TestSync Global we offer comprehensive solutions to meet all of your software testing and quality assurance needs in a single destination">
  <meta name="twitter:image:src" content="https://www.linkpicture.com/q/metaimg.png">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="TestSync Global | Leading Your Software To Success Through Quality">
  <meta name="og:description"
    content="TestSync Global we offer comprehensive solutions to meet all of your software testing and quality assurance needs in a single destination">
  <meta name="og:image" content="https://www.linkpicture.com/q/metaimg.png">
  <meta name="og:url" content="https://TestSync Global.com">
  <meta name="og:site_name" content="TestSync Global | Leading Your Software To Success Through Quality">
  <meta name="og:type" content="website">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %}"> -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
  <link rel="stylesheet" href="{% static 'css/nav-footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/service.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://kit.fontawesome.com/05113fe05e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
</head>

<body>

  {% include "nav.html" %}

  <!-- loader -->
  <div id="loading">
    <div class="container">
      <div class="loader"></div>
      <div class="loader"></div>
      <div class="loader"></div>
    </div>

  </div>
  <!-- loader -->




  <!-- hero section start -->
  <div data-aos="fade-down" class="hero py-2">

    <div class="container col-xxl-8">
      <div class="row flex-lg-row-reverse align-items-center g-5 pt-5 pb-3">
        <div class="col-10 col-sm-8 col-lg-7">
          <img src="{% static 'assets/images/hero.png' %}"
            class="float-right d-block mx-lg-auto img-fluid hero-img py-3" alt="" loading="lazy">
        </div>
        <div class="col-lg-5">
          <div class="lc-block mb-3">
            <div editable="rich">


              <h1 class="fw-bold display-5 hero-heading">Leading your software to success through <span
                  class="text-underline">quality </span>assurance
              </h1>

            </div>
          </div>

          <div class="seprater_line">

          </div>

          <div class="lc-block mb-3 pt-2">
            <div editable="rich">
              <p class="lead">As a global software testing and quality assurance company, we offer comprehensive
                solutions to meet all of your software testing and quality assurance needs in a single destination.
              </p>
            </div>
          </div>

          <a href="{% url 'Main:contact' %}">
            <button class="cssbuttons-io-button"> Get started
              <div class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </a>
        </div>

      </div>
    </div>
  </div>
  <!-- hero section end -->


  <!-- hero slider start -->
  <div class="hero-slider py-4 mx-3">
    <div class="container hero-tools">
      <section class="customer-logos slider">
        <div class="slide"><img src="{% static 'assets/images/tools/Katalon-logo.png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/Swagger-logo.png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/Postman.png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/ReadyAPI.svg' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/Jira.png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/Trello.png' %}"></div>
        <div class="slide"><img style="width: 50%;" src="{% static 'assets/images/tools/Mentis.png' %}"></div>
        <div class="slide"><img style="width: 50%;" src="{% static 'assets/images/tools/Asana.png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/Apica-(2).png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/espresso.png' %}"></div>
        <div class="slide"><img src="{% static 'assets/images/tools/Insomnia.png' %}"></div>
      </section>
    </div>
  </div>

  <!-- hero slider end -->



  <!-- why choose us start -->

  <div data-aos="fade-down" class="container py-4 mt-3">
    <div class="row gx-5 ">

      <div class="col-md-3">
        <h2> <span class="normal-heading">Why Choose</span> <br> <span class="bold-heading"><b><span
                class="text-underline">TestSync Global</span></b></span> </h2>
      </div>

      <div class="col-md-9">
        <p>Choose TestSync Global for our expertise in comprehensive software testing services, 
          leveraging advanced testing methodologies and tools. We are dedicated to delivering 
          high-quality and reliable software products while ensuring timely delivery and cost-effectiveness. 
          Partner with us for a hassle-free testing experience and a competitive edge in the market.</p>
      </div>

    </div>
  </div>
  <div class="container why-poinst pb-0">
    <div class="row gx-5 ">

      <div data-aos="fade-down" class="col-md-3 why-number">
        <p class="engg-numbwer">23</p>
        <p class="engg">Engineers </p>
        <div class="ver-line"></div>
      </div>

      <div data-aos="fade-down" class="col-md-9">

        <div class="py-0">
          <div class="row gx-5 justify-content-between why-line-one">


            <div class="col-lg-4 col-6 my-4 why-box">
              <img class="mb-4" src="{% static 'assets/images/quality.png' %}" alt="">
              <h5>Quality Services</h5>
              <p>We deliver exceptional and reliable services.</p>
            </div>

            <div class="col-lg-4 col-6 my-4 why-box">
              <img class="mb-4" src="{% static 'assets/images/coordination.png' %}" alt="">
              <h5>Experienced Team</h5>
              <p>Our experts have extensive industry experience.</p>
            </div>

            <div class="col-lg-4 col-6 my-4 why-box">
              <img class="mb-4" src="{% static 'assets/images/technology.png' %}" alt="">
              <h5>Cutting-Edge Technology</h5>
              <p>Use of the latest tools and technologies.</p>
            </div>

            <div class="col-lg-4 col-6 my-4 why-box">
              <img class="mb-4" src="{% static 'assets/images/cutting.png' %}" alt="">
              <h5>Custom Solutions</h5>
              <p>Tailored solutions to meet unique business needs.</p>
            </div>

            <div class="col-lg-4 col-6 my-4 why-box">
              <img class="mb-4" src="{% static 'assets/images/Cost-Effective.png' %}" alt="">
              <h5>Competitive Pricing</h5>
              <p>Affordable pricing without compromising quality.</p>
            </div>

            <div class="col-lg-4 col-6 my-4 why-box">
              <img class="mb-4" src="{% static 'assets/images/time.png' %}" alt="">
              <h5>Timely Delivery</h5>
              <p>On-time project delivery without delays.</p>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

  <!-- why choose us end -->

  <hr class="hr-line">

  <!-- service content start -->

  <div data-aos="fade-down" class="container pt-4 mt-3 ">
    <div class="row">
      <h2> <span class="normal-heading">our</span> <span class="bold-heading"><b><span
              class="text-underline">Services</span></b></span> </h2>
      <p>At TestSync Global, we offer a wide range of comprehensive software testing services to cater 
        to your specific needs, ensuring the delivery of high-quality and reliable software products. 
        Our services are designed to help you accelerate your software development cycle while minimizing 
        the risk of defects and ensuring maximum user satisfaction.</p>
      <a href="{% url 'Main:contact' %}">
        <button class="cssbuttons-io-button"> Get Started
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"></path>
            </svg>
          </div>
        </button>
      </a>
    </div>
  </div>

  <div data-aos="fade-down" class="portfolio-items  container mt-5">

    <div onclick="location.href='/automation-testing'" class="portfolio-item third double-height p-4 service-box first-s-box">
      <h5 class="service-title">AUTOMATION TESTING SERVICES</h5>
      <ul class="list-group list-group-flush mt-3">
        <a class="small-link"> Unit Testing </a>
        <a class="small-link"> Customer Journey Mapping</a>
        <a class="small-link"> Smoke Testing</a>
        <a class="small-link"> API Testing</a>
        <a class="small-link"> Security Testing</a>
        <a class="small-link"> Performance Testing</a>
      </ul>
      <div class="need-bottom-img">
        <img class="service-img" src="{% static 'assets/images/automation-testing.png' %}"
          alt="MOBILE APP TESTING Image">
      </div>
    </div>

    <!--  -->

    <div onclick="location.href='/data-analytics-testing'"
      class="portfolio-item two-third responsive-half p-4 service-two service-box second-s-box">

      <div class="service-box-one second-icon">
        <h5 class="service-title">DATA ANALYTICS TESTING SERVICES</h5>
        <ul class="list-group list-group-flush mt-3 small-ul">
          <a class="small-link"> Automated Analytics Testing</a>
          <a class="small-link"> Comprehensive Test Coverage</a>
          <a class="small-link"> Cost & Time Optimization</a>
        </ul>
      </div>

      <div class="service-box-two">
        <img class="service-img-two mob-img" src="{% static 'assets/images/data-analutics.png' %}"
          alt="MOBILE APP TESTING Image">
      </div>

    </div>

    <!--  -->

    <div onclick="location.href='/cloud-testing'"
      class="portfolio-item two-third responsive-half p-4 service-two service-box">

      <div class="service-box-one third-icon">
        <h5 class="service-title">CLOUD TESTING SERVICES</h5>
        <ul class="list-group list-group-flush mt-3 small-ul">
          <a class="small-link"> Cloud Resources Testing</a>
          <a class="small-link"> Cloud Application Testing</a>
          <a class="small-link"> Application Testing using Cloud-Based Tools</a>
        </ul>
      </div>

      <div class="service-box-two">
        <img class="service-img-two" src="{% static 'assets/images/clout-testing.png' %}"
          alt="MOBILE APP TESTING Image">
      </div>

    </div>

    <!--  -->
    <div onclick="location.href='/cx-testing'"
      class="portfolio-item third double-height p-4 fourth-icon service-box service-box-three">

      <h5 class="service-title">CX TESTING SERVICES</h5>
      <ul class="list-group list-group-flush mt-3">
        <a class="small-link"> Usability Testing</a>
        <a class="small-link"> Customer Journey Mapping</a>
        <a class="small-link"> AB Testing</a>
        <a class="small-link"> Digital Personalization</a>
        <a class="small-link"> Localization Testing</a>
        <a class="small-link"> Accessibility Testing</a>
        <a class="small-link"> Compatibility Testing</a>
      </ul>
      <div class="need-bottom-img">
        <img class="service-img" src="{% static 'assets/images/cx-testing.png' %}" alt="MOBILE APP TESTING Image">
      </div>

    </div>


    <!--  -->
    <div onclick="location.href='/mobile-app-testing'"
      class="portfolio-item third double-height fifth-icon p-4 service-box service-box-three">
      <h5 class="service-title">MOBILE APP TESTING SERVICES</h5>
      <ul class="list-group list-group-flush mt-3">
        <a class="small-link"> Compatibility Testing / Marketplace Tests</a>
        <a class="small-link"> Installation Testing / Lifecycle Tests</a>
        <a class="small-link"> Condition Testing / Mobile Device Tests</a>
        <a class="small-link"> Usability Testing</a>
        <a class="small-link"> Localization Testing</a>
        <a class="small-link"> Accessibility Testing</a>
      </ul>
      <div class="need-bottom-img">
        <img class="service-img mob-img" src="{% static 'assets/images/mob-app-test.png' %}"
          alt="MOBILE APP TESTING Image">
      </div>
    </div>
    <!--  -->

    <div onclick="location.href='/game-testing'"
      class="portfolio-item third double-height six-icon p-4 service-box service-box-three">
      <h5 class="service-title">GAME TESTING​ SERVICES</h5>
      <ul class="list-group list-group-flush mt-3">
        <a class="small-link"> Playability Testing </a>
        <a class="small-link"> AB Testing</a>
        <a class="small-link"> Regression Testing </a>
        <a class="small-link"> Ad hoc Testing</a>
        <a class="small-link"> Functionality Testing</a>
        <a class="small-link"> Clean Room Testing</a>
        <a class="small-link"> Compatibility Testing</a>
      </ul>
      <div class="need-bottom-img">
        <img class="service-img" src="{% static 'assets/images/game-testing.png' %}" alt="MOBILE APP TESTING Image">
      </div>
    </div>

  </div>


  <div class="container">
    <div class="row">

      <div onclick="location.href='/integration-and-testing'" class="col-md-6 col-12 two-bottom-service">

        <div class="card border-0 shadow rounded-xs">
          <div class="card-body  ext-ser bottom-ser">
            <div class="ext-ser-text">
              <a id="service-link">
                <h5>INTEGRATION AND TESTING (I&T)</h5>
              </a>
              <p>TestSync Global offers I&T services for software development, combining and testing individual modules to
                ensure system functionality.</p>
              <a class="text-dark">Learn More</a>
            </div>
            <img class="mb-4 ext-img" src="{% static 'assets/images/I-T.png' %}" alt="">

          </div>
        </div>
      </div>

      <div onclick="location.href='/iot-testing'" class="col-md-6 col-12 two-bottom-service">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body ext-ser bottom-ser">
            <div class="ext-ser-text">
              <a id="service-link">
                <h5>IoT TESTING</h5>
              </a>
              <p>We offer IoT testing, which involves testing Internet of things devices and systems to ensure
                they function as intended.</p>
              <a class="text-dark">Learn More</a>
            </div>
            <img class="mb-4 ext-img" src="{% static 'assets/images/iot.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container ">
    <div class="row">

      <div class="col-md-4 col-12">
        <div onclick="location.href='/functional-Testing'" class=" service-box top-service top-ser">
          <h6 class="top-head">Functional Testing</h6>
          <ul class="list-group list-group-flush mt-3">
            <a class="small-link"> Core Functional Validation </a>
            <a class="small-link"> API & Integration Testing</a>
            <a class="small-link"> Customer Experience (CX) Testing</a>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div onclick="location.href='/performance-Testing'" class=" service-box top-service top-ser">
          <h6 class="top-head">Performance Engineering & Testing</h6>
          <ul class="list-group list-group-flush mt-3">
            <a class="small-link"> Shift-Left Performance Engineering</a>
            <a class="small-link"> Load Characterization</a>
            <a class="small-link"> Industry-Centric Performance Benchmarking</a>
            <a class="small-link"> Code & Database Profiling</a>
          </ul>
        </div>
      </div>

      <div class="col-md-4 col-12">
        <div onclick="location.href='/application-Testing'" class=" service-box top-service top-ser">
          <h6 class="top-head">Application Security Testing</h6>
          <ul class="list-group list-group-flush mt-3">
            <a class="small-link"> Web Application Security </a>
            <a class="small-link"> Mobile Application Security</a>
            <a class="small-link"> Network Security</a>
            <a class="small-link"> Device Security</a>
            <a class="small-link"> Cloud Security</a>
            <a class="small-link"> API Security</a>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!-- service content end -->


  <hr class="hr-line">

  <!-- tools section start -->


  <div data-aos="fade-down" class="container px-4 pt-4 mt-3">
    <div class="row">
      <h2><span class="bold-heading"><b>Technologies</b></span> <span class="normal-heading">Used</span> <br> <span
          class="normal-heading">By</span> <span class="bold-heading"><b><span
              class="text-underline">TestSync Global</span></b></span></h2>
      <p>We utilizes a range of cutting-edge tools and technologies to deliver comprehensive and 
        reliable software testing services. Our team of experts is proficient in leveraging the latest testing methodologies 
        and tools to ensure high-quality and flawless software products that meet the dynamic needs of our clients.</p>
    </div>
  </div>
  <div data-aos="fade-down" class="toools">

    <div class="container px-3 py-3">
      <div class="row gx-5 justify-content-between">

        <div class="col-md-2 tools-heading">
          <h5><b>Automation</b> <br> Tools</h5>
        </div>

        <div class="col-md-10">
          <div class="tool-slider ">
            <div class="container">
              <section class="customer-tools slider">

                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/TOSCA.png' %}">
                  <div class="overlay">
                    <div class="text">TOSCA</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Katalon-logo.png' %}">
                  <div class="overlay">
                    <div class="text">Katlon</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/testcomplete.png' %}">
                  <div class="overlay">
                    <div class="text">TestComplete</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/utf.png' %}">
                  <div class="overlay">
                    <div class="text">UFT</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Lambda.png' %}">
                  <div class="overlay">
                    <div class="text">Lambda Test</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/appium-logo.png' %}">
                  <div class="overlay">
                    <div class="text">Appium</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Ranorex.png' %}">
                  <div class="overlay">
                    <div class="text">Ranorex</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Selenium.png' %}">
                  <div class="overlay">
                    <div class="text">Selenium</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Cypress-(2).png' %}">
                  <div class="overlay">
                    <div class="text">Cypress</div>
                  </div>
                </div>


              </section>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="container px-3 py-3">
      <div class="row gx-5 justify-content-between">

        <div class="col-md-2 tools-heading">
          <h5><b>API</b> <br> Testing Tools</h5>
        </div>

        <div class="col-md-10">
          <div class="tool-slider ">
            <div class="container">
              <section class="customer-tools slider">
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Swagger-logo.png' %}">
                  <div class="overlay">
                    <div class="text">Swager</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Postman.png' %}">
                  <div class="overlay">
                    <div class="text">Postman</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/JMeter.png' %}">
                  <div class="overlay">
                    <div class="text">JMeter</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/SoapUI.svg' %}">
                  <div class="overlay">
                    <div class="text">SoapUI </div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/ReadyAPI.svg' %}">
                  <div class="overlay">
                    <div class="text">ReadyAPI</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Insomnia.png' %}">
                  <div class="overlay">
                    <div class="text">Insomnia</div>
                  </div>
                </div>
                <!--  -->

              </section>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container px-3 py-3">
      <div class="row gx-5 justify-content-between">

        <div class="col-md-2 tools-heading">
          <h5><b>Mobile App</b> <br> Testing Tools</h5>
        </div>

        <div class="col-md-10">
          <div class="tool-slider ">
            <div class="container">
              <section class="customer-tools slider">
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Crashlytics.png' %}">
                  <div class="overlay">
                    <div class="text">Crashlytics</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/TestFlight.png' %}">
                  <div class="overlay">
                    <div class="text">TestFlight</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/HockeyApp.png' %}">
                  <div class="overlay">
                    <div class="text">HockeyApp</div>
                  </div>
                </div>
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Play-Beta.png' %}">
                  <div class="overlay">
                    <div class="text">Play Beta</div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container px-3 py-3">
      <div class="row gx-5 justify-content-between">

        <div class="col-md-2 tools-heading">
          <h5><b>Issue Tracking</b> <br> Platform</h5>
        </div>

        <div class="col-md-10">
          <div class="tool-slider ">
            <div class="container">
              <section class="customer-tools slider">
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Jira.png' %}">
                  <div class="overlay">
                    <div class="text">Jira</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Rally(1).png' %}">
                  <div class="overlay">
                    <div class="text">Rally</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Zoho.png' %}">
                  <div class="overlay">
                    <div class="text">Zoho </div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Trello.png' %}">
                  <div class="overlay">
                    <div class="text">Trello </div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Bugzilla.png' %}">
                  <div class="overlay">
                    <div class="text">Bugzilla </div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Mentis.png' %}">
                  <div class="overlay">
                    <div class="text">Mentis </div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Asana.png' %}">
                  <div class="overlay">
                    <div class="text">Asana </div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Redmine-Logo.wine(1).png' %}">
                  <div class="overlay">
                    <div class="text">Redmine</div>
                  </div>
                </div>
                <!--  -->

              </section>
            </div>
          </div>
        </div>

      </div>
    </div>




    <div class="container px-3 py-3">
      <div class="row gx-5 justify-content-between">

        <div class="col-md-2 tools-heading">
          <h5><b>IoT</b> <br> Testing Tools</h5>
        </div>

        <div class="col-md-10">
          <div class="tool-slider ">
            <div class="container">
              <section class="customer-tools slider">
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/espresso.png' %}">
                  <div class="overlay">
                    <div class="text">Eggplant</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/TOSCA.png' %}">
                  <div class="overlay">
                    <div class="text">TOSCA</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/testplant.png' %}">
                  <div class="overlay">
                    <div class="text">TestPlant</div>
                  </div>
                </div>
                <!--  -->
                <div class="slide">
                  <img class="image" src="{% static 'assets/images/tools/Apica-(2).png' %}">
                  <div class="overlay">
                    <div class="text">Apica</div>
                  </div>
                </div>
                <!--  -->

              </section>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- tools section end -->

  <hr class="hr-line">







  <!-- our process start -->


  <div data-aos="fade-down" class="container px-4 pt-4 mt-3">
    <div class="row d-flex flex-md-column">
      <h2>Our <span class="bold-heading"><b><span class="text-underline">Process</span> </b></span></h2>
      <p>At our company, we believe that a well-defined process is the foundation for delivering high-quality results consistently. Therefore, we have developed a comprehensive process that ensures each project is executed efficiently and effectively, from start to finish.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>1.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/consulting.png' %}" alt="">
            <h5>Consultation</h5>
            <p>Our team discusses your requirements and goals to identify the best testing strategy.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>2.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/Planning.png' %}" alt="">
            <h5>Planning</h5>
            <p>Develop a detailed plan including the scope, timelines, and testing methodology.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>3.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/testing(1).png' %}" alt="">
            <h5>Testing</h5>
            <p>Our team performs functional and non-functional testing to ensure the product meets the requirements.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>4.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/Bug.png' %}" alt="">
            <h5>Bug Detection</h5>
            <p>We identify and report any bugs or issues to be fixed by the development team.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>5.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/Deployment.png' %}" alt="">
            <h5>Deployment</h5>
            <p>Assist with the deployment of the product to ensure a smooth transition to production.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>6.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/report.png' %}" alt="">
            <h5>Reports</h5>
            <p>We provide detailed reports on the testing progress, results, and any issues found.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>7.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/script.png' %}" alt="">
            <h5>Test Scripting</h5>
            <p>Create and execute automated test scripts to increase efficiency and accuracy.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body why-section">
            <div class="number">
              <h3>8.</h3>
            </div>
            <img class="mb-4" src="{% static 'assets/images/Bug-verification.png' %}" alt="">
            <h5>Bug Verification</h5>
            <p>Ensure all reported issues have been fixed and the product meets the requirements before release.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- our process end -->










  <hr class="hr-line">

  <!-- faq start -->
  <div class="faq-box">
    <div data-aos="fade-down" class="container  py-4 mt-3">
      <div class="row gx-5 ">

        <div class="col-md-3">
          <div data-aos="fade-down" class="container faq mt-3">
            <div class="row d-flex flex-md-column">
              <h2><span class="bold-heading"><b>FAQ</b></span></h2>
              <p>list of frequently asked questions to help you understand our services and how they can benefit your
                business.</p>
              <p class="question"><i class="fa-regular fa-question"></i></p>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="container faq py-4">
            <div class="row">
              <div class="col-12 ">


                <div id="accordion-1" class="accordion">
                  <div data-aos="fade-down" class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                          aria-controls="collapseOne">
                          Why is software testing important?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-1">
                      <div class="card-body">
                        <p class="mb-0">Software testing is important because it helps ensure the quality, reliability,
                          and security of the software application or system. It helps identify defects and errors early
                          in the development process, which can save time and money in the long run.</p>
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div data-aos="fade-down" class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                          aria-controls="collapseTwo">
                          How do I get started with your software testing services?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-1">
                      <div class="card-body">
                        <p class="mb-0">To get started with our software testing services, simply contact us using the
                          information provided on our website. We'll work with you to understand your needs and develop
                          a customized testing plan that meets your requirements</p>
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div data-aos="fade-down" class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                          aria-controls="collapseThree">
                          How long does the software testing process take?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-1">
                      <div class="card-body">
                        <p class="mb-0">The duration of the software testing process can vary depending on the
                          complexity of the software application or system being tested. Our team will work with you to
                          develop a testing plan and provide an estimate of the time required to complete the testing
                          process.</p>
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div data-aos="fade-down" class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                          aria-controls="collapseFour">
                          What is the cost of your software testing services?
                        </a>
                      </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion-1">
                      <div class="card-body">
                        <p class="mb-0">The cost of our software testing services depends on the scope and complexity of
                          the testing project. We offer flexible pricing options and will provide you with a detailed
                          quote based on your specific requirements. Contact us today to get started with a free
                          consultation.</p>
                        <p>
                        </p>
                      </div>
                    </div>
                  </div>



                </div>



              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


  <!-- faq end -->

  <div class="hr-droid">
    <div class="hr-line green"></div>
    <div><img src="{% static 'assets/images/eyes.svg' %}" alt="" class="hr-img"></div>
    <div class="hr-line purple"></div>
  </div>

  <!-- blog section start -->
<!-- 
  <h2 class="text-center">What To Read Next</h2>




  <div class="container py-5">
    <section class="blog-slid slider">


      {% for post in posts %}
      <div class="slide">
        <a href="{% url 'Main:post_detail' post.slug %}" class="linking">
        <div class="blog-box">
          <img class="rounded img-fluid blog-img" src="/media/{{ post.photo }}" alt="wrappixel kit" />
          <div class="mt-4">
            <h6 class="font-weight-medium">{{ post.title }}</h6>
            <p class="mt-3">{{ post.body|slice:":100"|safe }}...</p>
            <a href="{% url 'Main:post_detail' post.slug %}" class="linking">Read More</a>
          </div>
        </div>
      </a>
      </div>

      {% endfor %}


    </section>
  </div> -->





  <!-- <div class="py-5 service-7">
    <div class="container">
      <div class="row gx-2"> 
        {% for post in posts %}
        <div class="col-md-4 mb-4">
          <div class="blog-box">
            <img class="rounded img-fluid blog-img" src="/media/{{ post.photo }}" alt="wrappixel kit" />
            <div class="mt-4">
              <h6 class="font-weight-medium">{{ post.title }}</h6>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> -->

  <!-- blog section end -->


  <!-- cta section start-->

  <div class=" container mb-5 mt-0 text-center">
    <div class="innnter-ctc cta-section">


      <div class="row align-items-center g-5 py-2 cta">
        <div class="text-left col-10 col-sm-8 col-lg-7">
          <h2>Release faster with confidence</h2>
          <p>Get started by contacting us.</p>
        </div>
        <div class="col-lg-5 cta-btn">
          <a href="{% url 'Main:contact' %}">
            <button class="cssbuttons-io-button float-right"> REQUEST A CALLBACK
              <div class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                    fill="currentColor"></path>
                </svg>
              </div>
            </button>
          </a>
        </div>

      </div>

    </div>
  </div>

  <!-- cta section end-->
{% include "footer.html" %}

</body>



</html>