<li><a href="#">Services</a>
    <div class="megamenu-panel">
      <div data-aos="fade-down" class="product-dropdown">

        <ul class="megamenu-list list-col-4">
          <li><a href="/service.html" target="_blank">Functional Testing</a></li>
          <li><a href="/service.html" target="_blank">Performance Engineering & Testing</a></li>
          <li><a href="/service.html" target="_blank">Application Security Testing</a></li>
          <li><a href="/service.html" target="_blank">MOBILE APP TESTING SERVICES</a></li>
          <li><a href="/service.html" target="_blank">DATA ANALYTICS TESTING SERVICES</a></li>
          <li><a href="/service.html" target="_blank">CLOUD TESTING SERVICES</a></li>
          <li><a href="/service.html" target="_blank">CX TESTING SERVICES</a></li>
          <li><a href="/service.html" target="_blank">AUTOMATION TESTING SERVICES</a></li>
          <li><a href="/service.html" target="_blank">GAME TESTING​ SERVICES</a></li>
          <li><a href="/service.html" target="_blank">INTEGRATION AND TESTING (I&T)</a></li>
          <li><a href="/service.html" target="_blank">IoT TESTING</a></li>
        </ul>

        <div class="row all-dropdown">

          <div class="col-md-3 pt-4 about-desc pr-3">
            <h4> <span class="bold-heading"><span class="text-underline">OUR SERVICES</span></h4>
            <p>As a global software testing and quality assurance company, we offer comprehensive solutions
              to meet all of your software testing and quality assurance needs in a single destination.</p>
            <a href="/service.html">Read More</a>
          </div>

          <div class="row col-md-9 pt-0 pl-3 flex-wrap">


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/Functionality Testing.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>Functional Testing</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/Performance Tests.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>Performance Engineering & Testing</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/Application Testing using Cloud-Based Tools.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>Application Security Testing</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/mobile app testing.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>MOBILE APP TESTING SERVICES</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/data.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>DATA ANALYTICS TESTING SERVICES</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/Cloud Application Testing.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>CLOUD TESTING SERVICES</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/User Experience Testing.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>CX TESTING SERVICES</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/game.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>GAME TESTING​ SERVICES</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/Automated Analytics Testing.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>AUTOMATION TESTING SERVICES</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/integration.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>INTEGRATION AND TESTING (I&T)</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>


            <a href="/service.html" class="col-lg-4 col-6 nav-box">
              <div class="nav-img">
                <img class="mb-4" src="{% static 'assets/images/internet-of-things.png' %}" alt="">
              </div>
              <div class="nav-desc">
                <h6>IoT TESTING</h6>
                <p>Efficient, streamlined testing process </p>
              </div>
            </a>



          </div>

          
        </div>

      </div>
  </li>