{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>TestSync Global | Leading Your Software To Success Through Quality</title>
<!-- Search Engine -->
<meta name="description" content="TestSync Global provides accessibility testing services to ensure that digital content, applications, and products are accessible to people with disabilities, meeting the WCAG 2.1 guidelines. TestSync Global uses a combination of automated tools and manual testing techniques to evaluate the accessibility of web and mobile applications, websites, and software.">
<meta name="image" content="{% static 'assets/images/icon.png' %}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta itemprop="description" content="TestSync Global provides accessibility testing services to ensure that digital content, applications, and products are accessible to people with disabilities, meeting the WCAG 2.1 guidelines. TestSync Global uses a combination of automated tools and manual testing techniques to evaluate the accessibility of web and mobile applications, websites, and software.">
<meta itemprop="image" content="{% static 'assets/images/icon.png' %}">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta name="twitter:description" content="TestSync Global provides accessibility testing services to ensure that digital content, applications, and products are accessible to people with disabilities, meeting the WCAG 2.1 guidelines. TestSync Global uses a combination of automated tools and manual testing techniques to evaluate the accessibility of web and mobile applications, websites, and software.">
<meta name="twitter:image:src" content="https://www.linkpicture.com/q/metaimg.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta name="og:description" content="TestSync Global provides accessibility testing services to ensure that digital content, applications, and products are accessible to people with disabilities, meeting the WCAG 2.1 guidelines. TestSync Global uses a combination of automated tools and manual testing techniques to evaluate the accessibility of web and mobile applications, websites, and software.">
<meta name="og:image" content="https://www.linkpicture.com/q/metaimg.png">
<meta name="og:url" content="https://draft4client.web.app/TestSync Global">
<meta name="og:site_name" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta name="og:type" content="website">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %}"> -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/contact-us.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav-footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/service.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://kit.fontawesome.com/05113fe05e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="crossorigin="anonymous" />
</head>

<body>



  <!-- loader -->
  <div id="loading">
    <div class="container">
      <div class="loader"></div>
      <div class="loader"></div>
      <div class="loader"></div>
    </div>

  </div>
  <!-- loader -->

  {% include "nav.html" %}




  <div data-aos="fade-down" class="container service-hero">
    <div class="row gx-5 ser-vice ">

      <div class="col-md-8">
        <h1> <span class="normal-heading">Accessibility </span> <br> <span class="bold-heading"><span class="text-underline" >TESTING SERVICES</span></span> </h1>

        <div class="mt-4 black-para">
        <p>
          TestSync Global provides accessibility testing services to ensure that digital content, applications, and products are accessible to people with disabilities, meeting the WCAG 2.1 guidelines. TestSync Global uses a combination of automated tools and manual testing techniques to evaluate the accessibility of web and mobile applications, websites, and software. Our team of experts tests for a wide range of disabilities, including visual, auditory, cognitive, and motor impairments. We provide detailed reports with recommendations for remediation, as well as ongoing support to help clients achieve compliance with accessibility standards. TestSync Global' accessibility testing services help organizations improve their user experience, increase their customer base, and comply with legal and regulatory requirements.</p>
      </div>

      </div>

      <div class="col-md-3">
        
      </div>

    </div>
  </div>


  <hr>


    <!-- why choose us start -->

    <div data-aos="fade-down" class="white-text">
    <div class="container py-4 mt-3 ">
      <div class="row gx-5">
  
        
        <div class="col-md-7">
          
          <div class="row gx-1 justify-content-between why-line-one">
  
            
            
            
            <div class="col-lg-6 col-6">
              <div class="service-boxes">
                <img class="mb-4 why-ast" src="{% static 'assets/images/Accessibility-Testing.png' %}" alt="">
                <h5>Compliance with Accessibility Standards</h5>
                <p>TestSync Global ensures that the products comply with accessibility standards such as WCAG 2.1, Section 508, and ADA. This helps organizations avoid legal issues and penalties associated with non-compliance.</p>
              </div>
            </div>
            <div class="col-lg-6 col-6 ">
              <div class="service-boxes">
                <img class="mb-4 why-ast" src="{% static 'assets/images/user-experience.png' %}" alt="">
                <h5>Improved User Experience</h5>
                <p>Accessibility testing helps identify and fix usability issues that may hinder the user experience for people with disabilities. This results in a better user experience for all users, leading to increased engagement and loyalty.</p>
              </div>
            </div>
            <div class="col-lg-6 col-6 ">
                <div class="service-boxes">
                  <img class="mb-4 why-ast" src="{% static 'assets/images/Faster-Time-to-Market.png' %}" alt="">
                  <h5>Increased Market Reach</h5>
                  <p>By catering to the needs of people with disabilities, organizations can tap into a significant and underserved market segment.</p>
                </div>
              </div>
            <div class="col-lg-6 col-6 ">
              <div class="service-boxes">
                <img class="mb-4 why-ast" src="{% static 'assets/images/badge.png' %}" alt="">
                <h5>Enhanced Brand Reputation</h5>
                <p>Organizations that prioritize accessibility testing and make their products accessible to people with disabilities demonstrate their commitment to inclusivity and social responsibility.</p>
              </div>
            </div>

            

          </div>
          
        </div>

        <div class="col-md-5 black-para">
          <h2> <span class="normal-heading">How is TestSync Global <b><span class="text-underline">Accessibility </span></b>Testing process beneficial?</span> </h2>

          <p>Accessibility testing is an essential part of software development that ensures that digital products and services can be accessed and used by people with disabilities, including those who are visually impaired, hearing impaired, or have mobility impairments. The benefits of using TestSync Global' accessibility testing services are manifold. Firstly, they have a team of experienced accessibility experts who use cutting-edge tools and techniques to test websites and digital content. Secondly, their services help organizations to enhance the user experience of users with disabilities, thereby increasing customer satisfaction and loyalty. Additionally, TestSync Global' accessibility testing services ensure that organizations avoid potential legal liabilities by complying with accessibility regulations.
        </p>

            <a href="{% url 'Main:contact' %}">
              <button class="cssbuttons-io-button"> Contact us
                <div class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </button>
            </a>
        </div>
  
      </div>
    </div>
    </div>
    
  
    <!-- why choose us end -->

    <hr class="mb-5">

    <!-- service section tab start -->

<div class="container">
    <div class="col">
      <h2> <span class="normal-heading">Different <span class="bold-heading"><span class="text-underline" >Accessibility</span></span> Testing Service TestSync Global offer </span> <br>  </h2>

      <div class="mt-4 black-para">
      <p>
        TestSync Global is a software testing and quality assurance company that offers a range of accessibility testing services to ensure that digital products are usable by individuals with disabilities. Some of the accessibility testing services provided by TestSync Global include:      </p>
    </div>

    </div>
  </div>



  <div class="container">
    <div class="row">

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/user.png' %}" alt="">
            <h5>User Testing</h5>
            <p>User testing is the process of observing and collecting feedback from real users to evaluate the usability and effectiveness of a product or service.</p>
          </div>
        </div>
      </div>



      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/industrial-robot.png' %}" alt="">
            <h5>Automated Testing</h5>
            <p>Automated testing involves using software tools to automate the execution of test cases, typically using a variety of testing frameworks and scripting languages. 

            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/User-Experience-Testing.png' %}" alt="">
            <h5>User Experience Testing</h5>
            <p>User experience testing is a broad term that encompasses various methods used to evaluate the user experience of a product or service.

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/collaborate.png' %}" alt="">
            <h5>Manual Testing
            </h5>
            <p>Manual testing involves manually executing test cases to evaluate the functionality and performance of a software application, typically using a combination of exploratory testing and scripted testing.

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/Engineering.png' %}" alt="">
            <h5>Expert UX Testing</h5>
            <p>Expert UX testing involves using experienced professionals to evaluate the usability and effectiveness of a product or service based on their knowledge and expertise in the field of user experience design.

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/eyes.svg' %}" alt="">
            <h5>Manual Code Review</h5>
            <p>Manual code review is a process of manually examining the code of a software application to identify and fix errors, bugs, and other issues that may affect the functionality and performance of the application.

            </p>
          </div>
        </div>
      </div>


    
    </div>
  </div>

  <hr class="my-5" >



  <!-- tool section start -->

  <div class="container my-5">
    <div class="col">
      <h2> <span class="normal-heading"><span class="text-underline" >Tools </span>Used for <br> <span class="bold-heading">Accessibility</span> Testing Service</span> <br>  </h2>

      <div class="mt-4 black-para">
      <p>
        Our software testing company uses advanced testing techniques to ensure high-quality software Accessibility. Our team of experts is skilled in a variety of testing tools.
      </p>
    </div>

    </div>
    <section class="service-tools">

        <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/unnamed.jpg' %}">
              <div class="tool-name">WAVE</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Axe.png' %}">
              <div class="tool-name">Axe</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Taw.png' %}">
              <div class="tool-name">Taw</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Tota11y.png' %}">
              <div class="tool-name">Tota11y</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Colour-Contrast-Analyzer.jpeg' %}">
              <div class="tool-name">Colour Contrast Analyzer</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Lighthouse.png' %}">
              <div class="tool-name">Lighthouse</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Ranorex.png' %}">
              <div class="tool-name">Ranorex</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Selenium.png' %}">
              <div class="tool-name">Selenium</div>
          </div>
          <div class="slide">
            <img class="image" src="{% static 'assets/images/tools/Cypress (2).png' %}">
              <div class="tool-name">Cypress</div>
          </div>

    </section>

  </div>

  <hr class="mb-5">

  <!-- tool section start -->


    <!-- cta section start-->

    <div class=" container mb-5 mt-0 text-center">
      <div class="innnter-ctc cta-section">
  
  
        <div class="row align-items-center py-2 cta">
          <div class="text-left col-10 col-sm-8 col-lg-7 ">
            <h2 class="cta-head" >Get Started with TestSync Global Today</h2>
            <p class="text-dark" >Contact us today to discuss your project requirements and learn how we can assist you.</p>
          </div>
          <div class="col-lg-5 cta-btn">
            <a href="contact-us.html">
              <button class="cssbuttons-io-button float-right"> REQUEST A CALLBACK
                <div class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </button>
            </a>
          </div>
  
        </div>
  
      </div>
    </div>
  
    <!-- cta section end-->

  <!-- service section tab end -->
  {% include "footer.html" %}
</body>



</html>