{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
<!-- COMMON TAGS -->
<meta charset="utf-8">
<title>TestSync Global | Leading Your Software To Success Through Quality</title>
<!-- Search Engine -->
<meta name="description" content="TestSync Global offers comprehensive range of DevOps services includes Continuous Integration and Delivery, Regular Monitoring, and Operational Management.">
<meta name="image" content="{% static 'assets/images/icon.png' %}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta itemprop="description" content="TestSync Global offers comprehensive range of DevOps services includes Continuous Integration and Delivery, Regular Monitoring, and Operational Management.">
<meta itemprop="image" content="{% static 'assets/images/icon.png' %}">
<!-- Twitter -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta name="twitter:description" content="TestSync Global offers comprehensive range of DevOps services includes Continuous Integration and Delivery, Regular Monitoring, and Operational Management.">
<meta name="twitter:image:src" content="https://www.linkpicture.com/q/metaimg.png">
<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta name="og:description" content="TestSync Global offers comprehensive range of DevOps services includes Continuous Integration and Delivery, Regular Monitoring, and Operational Management.">
<meta name="og:image" content="https://www.linkpicture.com/q/metaimg.png">
<meta name="og:url" content="https://draft4client.web.app/TestSync Global">
<meta name="og:site_name" content="TestSync Global | Leading Your Software To Success Through Quality">
<meta name="og:type" content="website">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="{% static 'css/aos.css' %}"> -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/images/icon.png' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/contact-us.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav-footer.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/service.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="https://kit.fontawesome.com/05113fe05e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="crossorigin="anonymous" />
</head>

<body>



  <!-- loader -->
  <div id="loading">
    <div class="container">
      <div class="loader"></div>
      <div class="loader"></div>
      <div class="loader"></div>
    </div>

  </div>
  <!-- loader -->

  {% include "nav.html" %}




  <div data-aos="fade-down" class="container service-hero">
    <div class="row gx-5 ser-vice ">

      <div class="col-md-8">
        <h1> <span class="normal-heading">DevOps </span> <br> <span class="bold-heading"><span class="text-underline" >TESTING SERVICES</span></span> </h1>

        <div class="mt-4 black-para">
        <p>
            TestSync Global is a leading provider of DevOps services and solutions that help organizations streamline their software development processes and accelerate their time-to-market. Their comprehensive range of DevOps services includes Continuous Integration and Delivery, Regular Monitoring, and Operational Management. TestSync Global also offers a range of DevOps tools and platforms, including Kubernetes, Docker, Jenkins, and Ansible, to help clients achieve their automation goals. With a focus on collaboration, automation, and continuous improvement, TestSync Global enables organizations to deliver high-quality software faster and more efficiently. Their team of experts works closely with clients to understand their specific needs and deliver customized solutions that drive value and innovation.</p>
      </div>

      </div>

      <div class="col-md-3">
        
      </div>

    </div>
  </div>


  <hr>


    <!-- why choose us start -->

    <div data-aos="fade-down" class="white-text">
    <div class="container py-4 mt-3 ">
      <div class="row gx-5">
  
        
        <div class="col-md-7">
          
          <div class="row gx-1 justify-content-between why-line-one">
  
            
            
            
            <div class="col-lg-6 col-6">
              <div class="service-boxes">
                <img class="mb-4 why-ast" src="{% static 'assets/images/increase.png' %}" alt="">
                <h5>Steady Pace</h5>
                <p>High technical expertise that keeps the whole DevOps operation moving at a steady pace.</p>
              </div>
            </div>
            <div class="col-lg-6 col-6 ">
              <div class="service-boxes">
                <img class="mb-4 why-ast" src="{% static 'assets/images/statistics.png' %}" alt="">
                <h5>Enhanced Flow</h5>
                <p>Toolchains, containers, and processes powered by site reliability and continuous pipeline.</p>
              </div>
            </div>
            <div class="col-lg-6 col-6 ">
                <div class="service-boxes">
                  <img class="mb-4 why-ast" src="{% static 'assets/images/supply-chain.png' %}" alt="">
                  <h5>Effective Supply-chain</h5>
                  <p>For mature processes and platforms ensuring optimal supply-chain performance is essential.</p>
                </div>
              </div>
            <div class="col-lg-6 col-6 ">
              <div class="service-boxes">
                <img class="mb-4 why-ast" src="{% static 'assets/images/collaborate.png' %}" alt="">
                <h5>Enhanced Collaboration</h5>
                <p>Team communication is streamlined through the effective operation of essential tools.</p>
              </div>
            </div>

            

          </div>
          
        </div>

        <div class="col-md-5 black-para">
          <h2> <span class="normal-heading">How is TestSync Global <b><span class="text-underline">DevOps </span></b>Testing process beneficial?</span> </h2>

          <p>TestSync Global DevOps Services can help businesses improve the speed and quality of their software development processes. By adopting DevOps practices, businesses can automate manual tasks, integrate their development and operations teams, and accelerate the software delivery pipeline. This leads to faster time-to-market for new features and products, allowing businesses to stay competitive in their industry.

            Additionally TestSync Global DevOps Services can help businesses reduce the risk of software failures and downtime. By implementing continuous testing, monitoring, and feedback loops, businesses can catch issues early in the development process and prevent them from reaching production.
        </p>

            <a href="{% url 'Main:contact' %}">
              <button class="cssbuttons-io-button"> Contact us
                <div class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </button>
            </a>
        </div>
  
      </div>
    </div>
    </div>
    
  
    <!-- why choose us end -->

    <hr class="mb-5">

    <!-- service section tab start -->

<div class="container">
    <div class="col">
      <h2> <span class="normal-heading">Different <span class="bold-heading"><span class="text-underline" >DevOps</span></span> Testing Service TestSync Global offer </span> <br>  </h2>

      <div class="mt-4 black-para">
      <p>
        TestSync Global offers a variety of DevOps testing services designed to help businesses ensure the quality and performance of their applications throughout the software development lifecycle. Some of the different DevOps testing services offered by TestSync Global include:
      </p>
    </div>

    </div>
  </div>



  <div class="container">
    <div class="row">

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/Planning.png' %}" alt="">
            <h5>Assessment and Planning</h5>
            <p>We Develop a strategy for DevOps assessment by visualizing the desired state and identifying
                the traceable KPIs.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/steering-wheel.png' %}" alt="">
            <h5>Pilot Framework Creation</h5>
            <p>We utilize and integrate your current tools with our extensive ecosystem of open-source and
                licensed software.

            </p>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/implement.png' %}" alt="">
            <h5>Process Implementation</h5>
            <p>We proceed with the analysis, design, development, automation, and implementation in the
                specified areas.

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/agile.png' %}" alt="">
            <h5>CI/CD Pipeline</h5>
            <p>We eliminate the Dev-Ops gap through continuous development, continuous integration,
                continuous testing, and continuous deployment.

            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/automation.png' %}" alt="">
            <h5>Process Automation</h5>
            <p>We automate the entire pipeline of processes from code generation to production, including
                builds, test cases, quality assurance, security, and more.

            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-6">
        <div class="card border-0 shadow rounded-xs">
          <div class="card-body service-why-section why-section">
            <img class="mb-4" src="{% static 'assets/images/shield.png' %}" alt="">
            <h5>Security Integration</h5>
            <p>We use the 'Security as Code' approach to implement end-to-end security integration using
                DevSecOps.

            </p>
          </div>
        </div>
      </div>


    
    </div>
  </div>

  <hr class="my-5" >



  <!-- tool section start -->

  <div class="container my-5">
    <div class="col">
      <h2> <span class="normal-heading"><span class="text-underline" >Tools </span>Used for <br> <span class="bold-heading">DevOps</span> Testing Service</span> <br>  </h2>

      <div class="mt-4 black-para">
      <p>
        Our software testing company uses advanced testing techniques to ensure high-quality software DevOps. Our team of experts is skilled in a variety of testing tools.
      </p>
    </div>

    </div>
    <section class="service-tools">

      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Terraform.png' %}">
          <div class="tool-name">Terraform</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/aws.png' %}">
          <div class="tool-name">AWS</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Jenkins.png' %}">
          <div class="tool-name">Jenkins</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Ansible.png' %}">
          <div class="tool-name">Ansible</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Helm.png' %}">
          <div class="tool-name">Helm</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Kubernetes.png' %}">
          <div class="tool-name">Kubernetes</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Shell-scripting.png' %}">
          <div class="tool-name">Shell scripting</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/ELK.png' %}">
          <div class="tool-name">ELK</div>
      </div>
      <div class="slide">
        <img class="image" src="{% static 'assets/images/tools/Grafana.png' %}">
          <div class="tool-name">Grafana</div>
      </div>


    </section>

  </div>

  <hr class="mb-5">

  <!-- tool section start -->


    <!-- cta section start-->

    <div class=" container mb-5 mt-0 text-center">
      <div class="innnter-ctc cta-section">
  
  
        <div class="row align-items-center py-2 cta">
          <div class="text-left col-10 col-sm-8 col-lg-7 ">
            <h2 class="cta-head" >Get Started with TestSync Global Today</h2>
            <p class="text-dark" >Contact us today to discuss your project requirements and learn how we can assist you.</p>
          </div>
          <div class="col-lg-5 cta-btn">
            <a href="contact-us.html">
              <button class="cssbuttons-io-button float-right"> REQUEST A CALLBACK
                <div class="icon">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                      fill="currentColor"></path>
                  </svg>
                </div>
              </button>
            </a>
          </div>
  
        </div>
  
      </div>
    </div>
  
    <!-- cta section end-->

  <!-- service section tab end -->
  {% include "footer.html" %}
</body>



</html>